<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML & URL to PDF</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
	<div class="background"></div>
  
	<!-- 섹션 1: HTML 입력 + 미리보기 -->
	<section class="section">
		<div class="panel">
			<div class="row">
				<div class="title">HTML 입력</div>
				<form id="htmlForm">
					<textarea id="htmlInput" placeholder="여기에 HTML 입력"></textarea>
					<br />
					<button type="button" onclick="convertHTML()">PDF 변환</button>
				</form>
			</div>
			<div class="row">
			<div class="title">미리보기</div>
			<iframe id="previewFrame"></iframe>
			</div>
	  	</div>
		<div class="panel">
		<div class="row">
			<div class="title">URL 입력</div>
			<form id="urlForm">
				<input type="text" id="urlInput" placeholder="URL 입력" />
				<button type="button" onclick="convertURL()">PDF 변환</button>
			</form>
		</div>
	  </div>
	</div>
  
	<script src="/static/script.js"></script>
  </body>
  
  
</html>